.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}
.container ul{
    display: flex;
    gap: 50px;
}
.container ul li{
    list-style-type: none;
    font-size: 20px;
}
.container ul li:hover{

    cursor: pointer;
    border-bottom: 2px solid grey;
    transform: scale(1.2);
}